<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
.login-box {
  width: 100%;
  min-height: 100vh; 
  } 
  .my-font{
    font-family: 'Open Sans';
=======
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");

.App {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rounded-circle{
  width: 10%;
  
}
.one{
  
    background: linear-gradient(200.78deg, #e36cd9 8.53%, #fe60ae 91.47%);
    color: #ffffff;
}
.two{
  background: linear-gradient(200.78deg, #9a56ff 8.53%, #d78afd 91.47%);
    color: #ffffff;

}
.three{
  background: linear-gradient(200.78deg, #23bdb8 8.53%, #43e794 91.47%);
    color: #ffffff;
}
/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
>>>>>>> 71636f96ecce4371ace3b7086deaf15181da7c27
  }
  .MenuItem {
    color: black;
  }
  
  /* Increase the specificity */
  .MenuItem.Mui-selected {
    color: green;
  }
<<<<<<< HEAD
  /* <button class="MuiButtonBase-root MuiButton-root MuiButton-text MuiButton-textPrimary MuiButton-sizeMedium MuiButton-textSizeMedium MuiButton-root MuiButton-text MuiButton-textPrimary MuiButton-sizeMedium MuiButton-textSizeMedium css-nszyn1-MuiButtonBase-root-MuiButton-root" tabindex="0" type="button">About Us<span class="MuiTouchRipple-root css-8je8zh-MuiTouchRipple-root"></span></button> */
  
=======
} */
>>>>>>> 71636f96ecce4371ace3b7086deaf15181da7c27
