@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
.login-box {
  width: 100%;
  min-height: 100vh; 
  } 
  .my-font{
    font-family: 'Open Sans';
  }
  .MenuItem {
    color: black;
  }
  
  /* Increase the specificity */
  .MenuItem.Mui-selected {
    color: green;
  }
  /* <button class="MuiButtonBase-root MuiButton-root MuiButton-text MuiButton-textPrimary MuiButton-sizeMedium MuiButton-textSizeMedium MuiButton-root MuiButton-text MuiButton-textPrimary MuiButton-sizeMedium MuiButton-textSizeMedium css-nszyn1-MuiButtonBase-root-MuiButton-root" tabindex="0" type="button">About Us<span class="MuiTouchRipple-root css-8je8zh-MuiTouchRipple-root"></span></button> */
  