@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
.login-box {
  width: 100%;
  min-height: 100vh; 
  } 
  .my-font{
    font-family: 'Open Sans';

  }


.one{
  
    background: linear-gradient(200.78deg, #e36cd9 8.53%, #fe60ae 91.47%);
    color: #ffffff;
}
.two{
  background: linear-gradient(200.78deg, #9a56ff 8.53%, #d78afd 91.47%);
    color: #ffffff;

}
.three{
  background: linear-gradient(200.78deg, #23bdb8 8.53%, #43e794 91.47%);
    color: #ffffff;
}

.link{
  text-decoration: none;
color: inherit
}
.link:hover{
  color: inherit;
}
.semibold{
  font-weight:600;
}

